<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사용자 정보 조회</title>
    <th:block th:include="fragments/header"></th:block>
    <!-- 웹 브라우저에 내장된 html 인터프리터에게 무시 
 	<script type="text/javascript" src="/js/main.js"></script>
 	 -->
</head>
<body>
<th:block th:include="fragments/nav"></th:block>
<div class="container" style="min-height: 500px">
    <div class="starter-template">
        <h1>방문을 환영합니다.</h1><br/>
        <a href="./regform">회원 등록 </a>
        <a href="./products/new">상품 등록 </a>
    </div>
</div>
<th:block th:include="fragments/footer"></th:block>
</body>
</html>
